<script id="CanvasContents" type="text/x-underscore-template">
    <div  class="fullwindow"">
        <input type="button" id="redraw-canvas" value="Redraw" />
        <input type="button" id="run-canvas" value="Start" />
        <input type="button" id="paulse-canvas" value="Stop" />
        <input type="button" id="increase-speed-canvas" value="Increase Speed" />
        <input type="button" id="decrease-speed-canvas" value="Decrease Speed" />

        <canvas name="canvas" id="canvas" width="1000" height="600"></canvas>
    </div>
</script>

<script id="SvgContents" type="text/x-underscore-template">
    <div  class="fullwindow"">
        <input type="button" id="redraw-canvas" value="Redraw" />
        <input type="button" id="run-canvas" value="Start" />
        <input type="button" id="paulse-canvas" value="Stop" />
        <input type="button" id="increase-speed-canvas" value="Increase Speed" />
        <input type="button" id="decrease-speed-canvas" value="Decrease Speed" />

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="svg-panel" style="width:1000px;height:600px;"></svg>
    </div>
</script>